<h1> Analyzing the listing and pricing trends in Kentucky metropolitan areas

<h2>Loading and viewing the data

In [7]:
import pandas as pd
import matplotlib
import numpy as np

In [8]:
count = pd.read_csv('NEWLISCOUKY.csv')
price = pd.read_csv('monthly.csv')

In [9]:
count.head()

  Observation_Date  Newly Listed Houses
0         2/1/2021                 3728
1         3/1/2021                 4780
2         4/1/2021                 5262
3         5/1/2021                 5444
4         6/1/2021                 5550

In [10]:
count[['Observation_Date', 'Newly Listed Houses']]

   Observation_Date  Newly Listed Houses
0          2/1/2021                 3728
1          3/1/2021                 4780
2          4/1/2021                 5262
3          5/1/2021                 5444
4          6/1/2021                 5550
5          7/1/2021                 5928
6          8/1/2021                 5758
7          9/1/2021                 5152
8         10/1/2021                 4968
9         11/1/2021                 4562
10        12/1/2021                 3518
11         1/1/2022                 3368
12         2/1/2022                 4066
13         3/1/2022                 4886
14         4/1/2022                 4772
15         5/1/2022                 5624
16         6/1/2022                 5934
17         7/1/2022                 5484
18         8/1/2022                 4892
19         9/1/2022                 4626
20        10/1/2022                 4276
21        11/1/2022                 3622
22        12/1/2022                 2520
23         1/1/2023                 3404
24         2/1/2023                 3556
25         3/1/2023                 3870
26         4/1/2023                 4444
27         5/1/2023                 4420
28         6/1/2023                 4580
29         7/1/2023                 4600
30         8/1/2023                 4380
31         9/1/2023                 4260
32        10/1/2023                 4190
33        11/1/2023                 3790
34        12/1/2023                 2996
35         1/1/2024                 2996
36         2/1/2024                 3704
37         3/1/2024                 4472
38         4/1/2024                 4674
39         5/1/2024                 4958
40         6/1/2024                 4904
41         7/1/2024                 5134
42         8/1/2024                 4740
43         9/1/2024                 4850
44        10/1/2024                 4468
45        11/1/2024                 4040
46        12/1/2024                 3062
47         1/1/2025                 3128
48         2/1/2025                 3722

In [11]:
price.head()

,Observation_Date,Bowling Green Average Price,Frankfort Average Price,Lexington Average Price,Louisville Average Price,Richmond-Berea Average Price,Bowling Green Median Price,Frankfort Median Price,Lexington Median Price,Louisville Median Price,Richmond-Berea Median Price
0,2/1/2022,372264,272826,494651,370359,323945,297950,231975,348095,282400,259900
1,3/1/2022,396530,293104,506204,380290,336781,297450,268575,352500,292450,267400
2,4/1/2022,405316,263607,501017,383436,348121,309900,279900,375390,295000,269900
3,5/1/2022,402446,290351,504815,382568,342252,305200,278725,388175,299425,290700
4,6/1/2022,401342,294490,493676,385327,339414,324900,275450,394700,299900,288500

In [12]:
price[['Observation_Date']]

   Observation_Date
0          2/1/2022
1          3/1/2022
2          4/1/2022
3          5/1/2022
4          6/1/2022
5          7/1/2022
6          8/1/2022
7          9/1/2022
8         10/1/2022
9         11/1/2022
10        12/1/2022
11         1/1/2023
12         2/1/2023
13         3/1/2023
14         4/1/2023
15         5/1/2023
16         6/1/2023
17         7/1/2023
18         8/1/2023
19         9/1/2023
20        10/1/2023
21        11/1/2023
22        12/1/2023
23         1/1/2024
24         2/1/2024
25         3/1/2024
26         4/1/2024
27         5/1/2024
28         6/1/2024
29         7/1/2024
30         8/1/2024
31         9/1/2024
32        10/1/2024
33        11/1/2024
34        12/1/2024
35         1/1/2025
36         2/1/2025

<h2> Cleaning the data

As much as I'd love to comb through almost ten years of data, most of that is irrelevant to the question at hand. Three years, broken down by month should be plenty to establish patterns.

In [13]:
count = count.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
count.reset_index(drop=True, inplace=True)
count

   Observation_Date  Newly Listed Houses
0          2/1/2022                 4066
1          3/1/2022                 4886
2          4/1/2022                 4772
3          5/1/2022                 5624
4          6/1/2022                 5934
5          7/1/2022                 5484
6          8/1/2022                 4892
7          9/1/2022                 4626
8         10/1/2022                 4276
9         11/1/2022                 3622
10        12/1/2022                 2520
11         1/1/2023                 3404
12         2/1/2023                 3556
13         3/1/2023                 3870
14         4/1/2023                 4444
15         5/1/2023                 4420
16         6/1/2023                 4580
17         7/1/2023                 4600
18         8/1/2023                 4380
19         9/1/2023                 4260
20        10/1/2023                 4190
21        11/1/2023                 3790
22        12/1/2023                 2996
23         1/1/2024                 2996
24         2/1/2024                 3704
25         3/1/2024                 4472
26         4/1/2024                 4674
27         5/1/2024                 4958
28         6/1/2024                 4904
29         7/1/2024                 5134
30         8/1/2024                 4740
31         9/1/2024                 4850
32        10/1/2024                 4468
33        11/1/2024                 4040
34        12/1/2024                 3062
35         1/1/2025                 3128
36         2/1/2025                 3722

In [14]:
df = pd.merge(price, count)
df

,Observation_Date,Bowling Green Average Price,Frankfort Average Price,Lexington Average Price,Louisville Average Price,Richmond-Berea Average Price,Bowling Green Median Price,Frankfort Median Price,Lexington Median Price,Louisville Median Price,Richmond-Berea Median Price,Newly Listed Houses
0,2/1/2022,372264,272826,494651,370359,323945,297950,231975,348095,282400,259900,4066
1,3/1/2022,396530,293104,506204,380290,336781,297450,268575,352500,292450,267400,4886
2,4/1/2022,405316,263607,501017,383436,348121,309900,279900,375390,295000,269900,4772
3,5/1/2022,402446,290351,504815,382568,342252,305200,278725,388175,299425,290700,5624
4,6/1/2022,401342,294490,493676,385327,339414,324900,275450,394700,299900,288500,5934
5,7/1/2022,395778,318860,494916,374304,330721,329900,277000,399000,299900,275000,5484
6,8/1/2022,397923,327885,490924,370691,340895,334131,280725,383600,299900,289950,4892
7,9/1/2022,399218,338760,496722,369434,348842,338813,297000,386950,299925,294725,4626
8,10/1/2022,408910,343225,507050,363106,353670,338900,294700,386900,299900,299900,4276
9,11/1/2022,658892,340287,474894,353559,337107,331098,287625,374757,290000,294425,3622
10,12/1/2022,393807,335950,461018,355294,333892,323450,285000,369900,295000,289900,2520
11,1/1/2023,392463,354477,485795,359632,342076,318950,310700,387100,298500,289900,3404
12,2/1/2023,397143,344475,496914,370814,368416,329650,299450,397450,299900,302895,3556
13,3/1/2023,400933,349575,504073,372679,377959,329900,317975,399900,299913,314925,3870
14,4/1/2023,406755,343931,510750,390333,377813,337250,315928,399900,319000,305841,4444
15,5/1/2023,422198,360095,530166,399043,384077,343950,327414,409400,319950,310225,4420
16,6/1/2023,427775,364602,536676,398808,373318,352750,351215,414975,319950,316175,4580
17,7/1/2023,422066,350292,528081,392661,364377,345000,333658,409900,319900,317450,4600
18,8/1/2023,413544,355026,509960,389719,367088,337400,324950,399850,322400,321682,4380
19,9/1/2023,401046,343409,507596,387650,351595,324900,287000,397173,315250,309900,4260
20,10/1/2023,393542,349205,509706,376712,347954,325725,307200,397561,307475,304950,4190
21,11/1/2023,383193,349469,510535,372479,360991,318175,306000,393046,299995,318450,3790
22,12/1/2023,369252,337211,501915,371069,360155,304950,299900,390717,299900,319900,2996
23,1/1/2024,366644,344113,510918,378077,366816,309400,309900,395000,308950,316975,2996
24,2/1/2024,371778,343427,519278,379795,368802,309900,304475,399425,310975,321525,3704
25,3/1/2024,385711,349013,533785,391456,375279,314900,344950,399900,315000,319900,4472
26,4/1/2024,394698,380689,547674,406064,377771,324400,340445,399900,326950,314950,4674
27,5/1/2024,397782,418629,555468,416655,375571,324900,367450,399475,329000,318911,4958
28,6/1/2024,391528,385616,542050,415853,363212,324900,339900,399900,329900,312450,4904
29,7/1/2024,384721,391456,538365,416795,353187,322450,329250,399900,326998,308200,5134
30,8/1/2024,382895,387748,545010,413336,354934,315000,345000,395000,319900,300000,4740
31,9/1/2024,380546,368668,552623,408201,356339,315000,345000,398685,319700,299925,4850
32,10/1/2024,376296,369645,549112,407054,358560,313400,345233,396305,317450,300403,4468
33,11/1/2024,372854,367075,546402,396223,358428,314500,328900,399000,309900,305900,4040
34,12/1/2024,366277,367344,535048,387486,345405,314375,332450,399950,305600,302475,3062
35,1/1/2025,366661,368781,538505,388051,356054,314500,344080,398720,305950,299900,3128
36,2/1/2025,375147,364517,548785,395674,359800,314900,327225,398786,309950,307900,3722